# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [101]:
chipo = pd.read_csv('C:\\Users\\sherv\\Downloads\\chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [69]:
chipo.head(10)
#chipo.nlargest(10, 'quantity')

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
1425,577,4,Bottled Water,NaN,$6.00
1880,759,4,Bottled Water,NaN,$6.00
2235,901,4,Canned Soda,[Sprite],$4.36

### Step 5. What is the number of observations in the dataset?

In [15]:
# Solution 1
chipo.shape[0]

4622

In [23]:
# Solution 2
chipo.count()[0]

4622

### Step 6. What is the number of columns in the dataset?

In [24]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [70]:
for column in chipo.columns:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [30]:
chipo.index
# indexed by a rangeindex object

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [83]:
# chipo_agg_count = chipo[['item_name', 'quantity']].groupby("item_name").count()
# chipo_agg_count.loc[chipo_agg_count.quantity.idxmax()]

chipo['item_name'].value_counts().idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [86]:
chipo['item_name'].value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [88]:
chipo['choice_description'].value_counts()[0:1]

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [89]:
chipo['item_name'].nunique()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [95]:
type(chipo['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [107]:
chipo['item_price'] = chipo['item_price'].map(lambda item_price: float(item_price.removeprefix("$")))

AttributeError: 'float' object has no attribute 'removeprefix'

#### Step 13.c. Check the item price type

In [112]:
type(chipo['item_price'][0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [126]:
revenue = 0
for index in chipo.index:
    revenue += chipo.iloc[index]['item_price'] * chipo.iloc[index]['quantity'] 
revenue_2 = (chipo['item_price'] * chipo['quantity']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [132]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [159]:
# Solution 1
def rev_per_order(df):
    return (df['item_price']*df['quantity']).sum()

chipo.groupby('order_id').apply(rev_per_order).mean()

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?