# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [26]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t') # cool !
chipo.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [69]:
chipo.head(10)
#chipo.nlargest(10, 'quantity')

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
1425,577,4,Bottled Water,NaN,$6.00
1880,759,4,Bottled Water,NaN,$6.00
2235,901,4,Canned Soda,[Sprite],$4.36

### Step 5. What is the number of observations in the dataset?

In [15]:
# Solution 1
chipo.shape[0]

4622

In [28]:
# Solution 2
chipo.info() # 4622 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [24]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [70]:
for column in chipo.columns:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [30]:
chipo.index
# indexed by a rangeindex object

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [46]:
# chipo_agg_count = chipo[['item_name', 'quantity']].groupby("item_name").count()
# chipo_agg_count.loc[chipo_agg_count.quantity.idxmax()]

items = chipo.groupby("item_name").agg({'quantity': 'sum'})
items = items.sort_values('quantity', ascending=False)
items[:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

### Step 10. For the most-ordered item, how many items were ordered?

In [44]:
items.head(1)['quantity'][0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [48]:
chipo.groupby("choice_description").agg({'quantity': 'sum'}).sort_values('quantity', ascending=False)

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42
...                                                      ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1

[1043 rows x 1 columns]

### Step 12. How many items were orderd in total?

In [49]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [55]:
chipo.item_price.str.removeprefix("$").astype(float).head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.a. Check the item price type

In [50]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

In [71]:
type(chipo['item_price'][0])

str

### Step 14. How much was the revenue for the period in the dataset?

In [13]:
# Ineffiecient method: doing a for loop over rows using iloc and adding up the calculated revenue to revenue

# revenue = 0
# for index in chipo.index:
#     revenue += chipo.iloc[index]['item_price'] * chipo.iloc[index]['quantity'] 
# revenue_2 = (chipo['item_price'] * chipo['quantity']).sum()  
# revenue_2

# efficient method: doing elemnt-wise multiplication

(chipo['item_price'] * chipo['quantity']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [132]:
chipo['order_id'].nunique() # seems more cleaner than the original answer :P

1834

### Step 16. What is the average revenue amount per order?

In [77]:
chipo['revenue'] = (chipo['item_price'] * chipo['quantity'])
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [80]:
# Solution 1


chipo.groupby(['order_id']).agg({'revenue': 'sum'}).mean()['revenue']

21.39423118865867

In [23]:
# Solution 2

21.39423118865867

### Step 17. How many different items are sold?

In [76]:
chipo['item_name'].nunique() # still my answer seems superior :P

50